<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Historique des courts</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../assets2/css/main.css" />
	</head>
	<body>
		<div id="page-wrapper">
			<!-- Header -->
			<header id="header" >
				<h1>Historique des courts</h1>
				<nav id="nav">
					<ul>
						<li><a href="/test">Accueil</a></li>
						<li><a href="/niews">News</a></li>
						<li><a href="/faq">FAQ</a></li>
						<li><a href="#" class="icon fa-angle-down">Lien vers page administrateur</a>
						<ul>
							<li><a href="/faqadmin">FAQ pour les admins</a></li>
							<li><a href="/admingestion">Tous les Courts</a></li>
							<li><a href="/adminpairgestion">Gestion des paires</a></li>
							<li><a href="/admingroupsgestion/-1">Tous les groupes</a></li>
							<li><a href="/courtadmin">Vos Courts</a></li>
							<li><a href="/test-match-result">Entrer les Résultats </a></li>
							<li><a href="/groupgeneration">Groupes Génération</a></li>
							<li><a href="/niewsfeed">Création de News</a></li>
							<li><a href="/niewsgestion">Gestion des News</a></li>
							<li><a href="/courthistory">Historique des courts</a></li>
							<li><a href="/knockoff">Knockoff</a></li>
							<li><a href="/edittournament">Créer un tournoi</a></li>
							{% if superuser %}
							<li><a href="/knockoffsuperuser">Générer knockoff</a></li>
							<li><a href="/knockoffgestion">Gestion du knockoff</a></li>
							{% endif %}
							<li><a href="/export-db">Exporter en CSV</a></li>
						</ul>
						</li>
						<li><a href="/contact" >Nous contacter</a></li>
						<li><a href="/disconnect" class="button">Déconnexion</a></li>
					</ul>
				</nav>
			</header>

			<!-- Main -->
			<section id="main" class="container">
				<header>
					<h2>Historique des courts</h2>
					<p>Vous pouvez soit rajouter un commentaire lié à un terrain, soit chercher un court grâce à son adresse pour avoir son historique.</p>

					<ul class="actions">
						<li><a href="/createcourthistory" class="button special big">Ajouter un commentaire</a></li>
					</ul>

					<div class="box">
						<h3>Recherche de terrain:</h3>
						{{ form_start(formcourt) }}
						<form method="post" action="#">
							<div class="row uniform">
								<div class="6u 12u(mobilep)">
									{{ form_row(formcourt.adress) }}
								</div>
							</div>
							<div class="row uniform">
								<div class="12u">
									<ul class="actions align-center">
										<li><input type="submit" value="Rechercher"/></li>
									</ul>
								</div>
							</div>
						</form>
						{{ form_end(formcourt) }}
					</div>

					{% if issubmit %}
					<header>
						{% if result is empty %}
							<p>Il n'y a pas d'historique pour ce terrain.</p>
						{% else %}
							<h4>L'historique pour le court:</h4>
							{% for n in result %}
								<hr />
								<blockquote>{{ n[1] }}</blockquote>
								<a href="{{ url('deletecourthistory', {id: n[0] }) }} ">Supprimer</a>
							{% endfor %}
						{% endif %}
					</header>
					{% endif %}
				</header>
			</section>

			<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://www.facebook.com/Asmae-161275587240084/?fref=ts" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Tous droits réservés.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</footer>
		</div>

		<!-- Scripts -->
			<script src="../assets2/js/jquery.min.js"></script>
			<script src="../assets2/js/jquery.dropotron.min.js"></script>
			<script src="../assets2/js/jquery.scrollgress.min.js"></script>
			<script src="../assets2/js/skel.min.js"></script>
			<script src="../assets2/js/util.js"></script>
			<script src="../assets2/js/main.js"></script>

	</body>
</html>
