<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Knockoff</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets2/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets2/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets2/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1>Knockoff</h1>
					<nav id="nav">
						<ul>
							<li><a href="/test">Accueil</a></li>
							<li><a href="/niews">News</a></li>
							<li><a href="/faq">FAQ</a></li>
							<li><a href="#" class="icon fa-angle-down">Lien vers page administrateur</a>
							<ul>
								<li><a href="/faqadmin">FAQ pour les admins</a></li>
								<li><a href="/admingestion">Tous les courts</a></li>
								<li><a href="/adminpairgestion">Gestion des paires</a></li>
								<li><a href="/admingroupsgestion/-1">Tous les groupes</a></li>
								<li><a href="/adminresults">Tous les Résultats</a></li>
								<li><a href="/courtadmin">Vos courts</a></li>
								<li><a href="/test-match-result">Entrer les résultats </a></li>
								<li><a href="/groupgeneration">Génération des groupes</a></li>
								<li><a href="/niewsfeed">Création de news</a></li>
								<li><a href="/niewsgestion">Gestion des news</a></li>
								<li><a href="/courthistory">Historique des courts</a></li>
								<li><a href="/knockoff">Knockoff</a></li>
								<li><a href="/edittournament">Créer un tournoi</a></li>
								{% if superuser %}
								<li><a href="/knockoffsuperuser">Générer le knockoff</a></li>
								<li><a href="/knockoffgestion">Gestion du knockoff</a></li>
								{% endif %}
								<li><a href="/export-db">Exporter en CSV</a></li>
							</ul>
							</li>
							<li><a href="/contact" >Nous contacter</a></li>
							<li><a href="/disconnect" class="button">Déconnexion</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<section id="main" class="container 75%">
					<header>
						<h2>Modifier l'ardre de knockoff</h2>
					</header>
							{% if not issubmit %}
							<div class="box">
							<p>  Choisissez le tournoi duquel vous voullez voir les arbres de knockoff.</p>
							{{ form_start(formtournament) }}
						 <form method="post" action="#">
							 <div class="row uniform 50%">
								 <div class="6u 12u(mobilep)">
									 {{ form_row(formtournament.idtournaments) }}
								 </div>
							 </div>
							 <div class="row uniform">
								 <div class="12u">
									 <ul class="actions align-center">

										 <li><input type="submit" value="Envoyer" /></li>
									 </ul>
								 </div>
							 </div>
						 </form>
						 {{ form_end(formtournament) }}
						 </div>
						 {% endif %}



					{% if issubmit %}

						 {% if  count == 0 %}
						 <div class="box">
							<p>Le knockoff n'a pas encore été généré. Veuillez prendre contact avec le super utilisateur du site.</p>
							</div>
						{% endif %}





					{% if  count != 0 %}
					<div class="box">
					 <p>Il y a {{ count }} états différents de l'arbre de knockoff pour le tournoi en question.</p>
					 </div>
						{% for item in treeinfo %}
					<div class="box">
						<hr />
						<a class= "button special" href = "{{ url('deleteknockofftree', {id: item.idtree  }) }}">Supprimer </a>
						<p> <br /> </p>
						<p> Le membre du staff qui a modifier l'arbre en dernier : ({{item.idamdin}}) {{ item.e_mail_address}} </p>
						<p> </p>
						<h3 id="win">Le gagnant est : {{ item.winner}} </h3>



					</div>
						{% if treesize == 2 %}
							<!-- TODO  -->
							<p>La finale  : </p>

							<main id="tournament">

								<ul class="round round-4">
									<li class="spacer">&nbsp;</li>

									<li class="game game-top winner"><button ondblclick="winner('2-1')"><input id="2-1" value = "{{ item._2_1 }}" type = "hidden"/><span id = "2-1-span">{{ item._2_1 }}</span></button></li>
									<li class="game game-spacer">&nbsp;</li>
									<li class="game game-bottom "><button ondblclick="winner('2-2')"><input id="2-2" value = "{{ item._2_2}}" type = "hidden"/><span id = "2-2-span">{{ item._2_2 }}</span></button></li>

									<li class="spacer">&nbsp;</li>
								</ul>
							</main>

						{% elseif treesize == 4 %}
							<!-- TODO  -->
							<p>La demi : </p>
							<main id="tournament">



								<ul class="round round-3">
									<li class="spacer">&nbsp;</li>

									<li class="game game-top winner"><button ondblclick="set2('2-1', '4-1')"><input id="4-1" value = "{{ item._4_1}}" type = "hidden"/><span id = "4-1-span">{{ item._4_1 }}</span></button></li>
									<li class="game game-spacer">&nbsp;</li>
									<li class="game game-bottom "><button ondblclick="set2('2-1', '4-2')"><input id="4-2" value = "{{ item._4_2}}" type = "hidden"/><span id = "4-2-span">{{ item._4_2 }}</span></button></li>

									<li class="spacer">&nbsp;</li>

									<li class="game game-top "><button ondblclick="set2('2-2', '4-3')"><input id="4-3" value = "{{ item._4_3}}" type = "hidden"/><span id = "4-3-span">{{ item._4_3 }}</span></button></li>
									<li class="game game-spacer">&nbsp;</li>
									<li class="game game-bottom winner"><button ondblclick="set2('2-2', '4-4')"><input id="4-4" value = "{{ item._4_4}}" type = "hidden"/><span id = "4-4-span">{{ item._4_4 }}</span></button></li>

									<li class="spacer">&nbsp;</li>
								</ul>

								<ul class="round round-4">
									<li class="spacer">&nbsp;</li>

									<li class="game game-top winner"><button ondblclick="winner('2-1')"><input id="2-1" value = "{{ item._2_1 }}" type = "hidden"/><span id = "2-1-span">{{ item._2_1 }}</span></button></li>
									<li class="game game-spacer">&nbsp;</li>
									<li class="game game-bottom "><button ondblclick="winner('2-2')"><input id="2-2" value = "{{ item._2_2}}" type = "hidden"/><span id = "2-2-span">{{ item._2_2 }}</span></button></li>

									<li class="spacer">&nbsp;</li>
								</ul>
							</main>

						{% elseif treesize == 8 %}
							<!-- TODO  -->
							<p>Les quarts : </p>

							<main id="tournament">
							<ul class="round round-2">


								<li class="spacer">&nbsp;</li>

								<li class="game game-top winner"> <button ondblclick="set2('4-1', '8-1')"><input id="8-1" value = "{{ item._8_1}}" type = "hidden"/><span id = "8-1-span">{{ item._8_1 }}</span></button>  </li>
								<li class="game game-spacer">&nbsp;</li>
								<li class="game game-bottom "><button ondblclick="set2('4-1', '8-2')"><input id="8-2" value = "{{ item._8_2}}" type = "hidden"/><span id = "8-2-span">{{ item._8_2 }}</span></button></li>

								<li class="spacer">&nbsp;</li>

								<li class="game game-top winner"><button ondblclick="set2('4-2', '8-3')"><input id="8-3" value = "{{ item._8_3}}" type = "hidden"/><span id = "8-3-span">{{ item._8_3 }}</span></button></li>
								<li class="game game-spacer">&nbsp;</li>
								<li class="game game-bottom "><button ondblclick="set2('4-2', '8-4')"><input id="8-4" value = "{{ item._8_4}}" type = "hidden"/><span id = "8-4-span">{{ item._8_4 }}</span></button></li>

								<li class="spacer">&nbsp;</li>

								<li class="game game-top "><button ondblclick="set2('4-3', '8-5')"><input id="8-5" value = "{{ item._8_5}}" type = "hidden"/><span id = "8-5-span">{{ item._8_5 }}</span></button> </li>
								<li class="game game-spacer">&nbsp;</li>
								<li class="game game-bottom winner"><button ondblclick="set2('4-3', '8-6')"><input id="8-6" value = "{{ item._8_6}}" type = "hidden"/><span id = "8-6-span">{{ item._8_6 }}</span></button> </li>

								<li class="spacer">&nbsp;</li>

								<li class="game game-top "><button ondblclick="set2('4-4', '8-7')"><input id="8-7" value = "{{ item._8_7}}" type = "hidden"/><span id = "8-7-span">{{ item._8_7 }}</span></button> </li>
								<li class="game game-spacer">&nbsp;</li>
								<li class="game game-bottom winner"><button ondblclick="set2('4-4', '8-8')"><input id="8-8" value = "{{ item._8_8}}" type = "hidden"/><span id = "8-8-span">{{ item._8_8 }}</span></button></li>

								<li class="spacer">&nbsp;</li>
							</ul>

							<ul class="round round-3">
								<li class="spacer">&nbsp;</li>

								<li class="game game-top winner"><button ondblclick="set2('2-1', '4-1')"><input id="4-1" value = "{{ item._4_1}}" type = "hidden"/><span id = "4-1-span">{{ item._4_1 }}</span></button></li>
								<li class="game game-spacer">&nbsp;</li>
								<li class="game game-bottom "><button ondblclick="set2('2-1', '4-2')"><input id="4-2" value = "{{ item._4_2}}" type = "hidden"/><span id = "4-2-span">{{ item._4_2 }}</span></button></li>

								<li class="spacer">&nbsp;</li>

								<li class="game game-top "><button ondblclick="set2('2-2', '4-3')"><input id="4-3" value = "{{ item._4_3}}" type = "hidden"/><span id = "4-3-span">{{ item._4_3 }}</span></button></li>
								<li class="game game-spacer">&nbsp;</li>
								<li class="game game-bottom winner"><button ondblclick="set2('2-2', '4-4')"><input id="4-4" value = "{{ item._4_4}}" type = "hidden"/><span id = "4-4-span">{{ item._4_4 }}</span></button></li>

								<li class="spacer">&nbsp;</li>
							</ul>

							<ul class="round round-4">
								<li class="spacer">&nbsp;</li>

								<li class="game game-top winner"><button ondblclick="winner('2-1')"><input id="2-1" value = "{{ item._2_1 }}" type = "hidden"/><span id = "2-1-span">{{ item._2_1 }}</span></button></li>
								<li class="game game-spacer">&nbsp;</li>
								<li class="game game-bottom "><button ondblclick="winner('2-2')"><input id="2-2" value = "{{ item._2_2}}" type = "hidden"/><span id = "2-2-span">{{ item._2_2 }}</span></button></li>

								<li class="spacer">&nbsp;</li>
							</ul>
						</main>
						{% elseif treesize == 16 %}
							<!-- TODO  -->
							<p>Les huitièmes : </p>
						<main id="tournament">
							<ul class="round round-1">

									<li class="spacer">&nbsp;</li>
									<li class="game game-top winner"><button ondblclick="set2('8-1', '16-1')"><input id="16-1" value = "{{ item._16_1}}" type = "hidden"/><span id = "16-1-span">{{ item._16_1 }}</span></button></li>
									<li class="game game-spacer">&nbsp;</li>
									<li class="game game-bottom "><button ondblclick="set2('8-1', '16-2')"><input id="16-2" value = "{{ item._16_2}}" type = "hidden"/><span id = "16-2-span">{{ item._16_2 }}</span></button></li>

									<li class="spacer">&nbsp;</li>

									<li class="game game-top winner"><button ondblclick="set2('8-2', '16-3')"><input id="16-3" value = "{{ item._16_3}}" type = "hidden"/><span id = "16-3-span">{{ item._16_3 }}</span></button></li>
									<li class="game game-spacer">&nbsp;</li>
									<li class="game game-bottom "><button ondblclick="set2('8-2', '16-4')"><input id="16-4" value = "{{ item._16_4}}" type = "hidden"/><span id = "16-4-span">{{ item._16_4 }}</span></button></li>

									<li class="spacer">&nbsp;</li>

									<li class="game game-top "><button ondblclick="set2('8-3', '16-5')"><input id="16-5" value = "{{ item._16_5}}" type = "hidden"/><span id = "16-5-span">{{ item._16_5 }}</span></button></li>
									<li class="game game-spacer">&nbsp;</li>
									<li class="game game-bottom winner"><button ondblclick="set2('8-3', '16-6')"><input id="16-6" value = "{{ item._16_6 }}" type = "hidden"/><span id = "16-6-span">{{ item._16_6 }}</span></button></li>

									<li class="spacer">&nbsp;</li>

									<li class="game game-top winner"><button ondblclick="set2('8-4', '16-7')"><input id="16-7" value = "{{ item._16_7}}" type = "hidden"/><span id = "16-7-span">{{ item._16_7 }}</span></button></li>
									<li class="game game-spacer">&nbsp;</li>
									<li class="game game-bottom "><button ondblclick="set2('8-4', '16-8')"><input id="16-8" value = "{{ item._16_8}}" type = "hidden"/><span id = "16-8-span">{{ item._16_8 }}</span></button></li>

									<li class="spacer">&nbsp;</li>

									<li class="game game-top winner"><button ondblclick="set2('8-5', '16-9')"><input id="16-9" value = "{{ item._16_9}}" type = "hidden"/><span id = "16-9-span">{{ item._16_9 }}</span></button></li>
									<li class="game game-spacer">&nbsp;</li>
									<li class="game game-bottom "><button ondblclick="set2('8-5', '16-10')"><input id="16-10" value = "{{ item._16_10}}" type = "hidden"/><span id = "16-10-span">{{ item._16_10 }}</span></button></li>

									<li class="spacer">&nbsp;</li>

									<li class="game game-top winner"><button ondblclick="set2('8-6', '16-11')"><input id="16-11" value = "{{ item._16_11}}" type = "hidden"/><span id = "16-11-span">{{ item._16_11 }}</span></button></li>
									<li class="game game-spacer">&nbsp;</li>
									<li class="game game-bottom "><button ondblclick="set2('8-6', '16-12')"><input id="16-12" value = "{{ item._16_12}}" type = "hidden"/><span id = "16-12-span">{{ item._16_12 }}</span></button></li>

									<li class="spacer">&nbsp;</li>

									<li class="game game-top winner"><button ondblclick="set2('8-7', '16-13')"><input id="16-13" value = "{{ item._16_13}}" type = "hidden"/><span id = "16-13-span">{{ item._16_13 }}</span></button></li>
									<li class="game game-spacer">&nbsp;</li>
									<li class="game game-bottom "><button ondblclick="set2('8-7', '16-14')"><input id="16-14" value = "{{ item._16_14}}" type = "hidden"/><span id = "16-14-span">{{ item._16_14 }}</span></button></li>

									<li class="spacer">&nbsp;</li>

									<li class="game game-top winner"><button ondblclick="set2('8-8', '16-15')"><input id="16-15" value = "{{ item._16_15}}" type = "hidden"/><span id = "16-15-span">{{ item._16_15 }}</span></button></li>
									<li class="game game-spacer">&nbsp;</li>
									<li class="game game-bottom "><button ondblclick="set2('8-8', '16-16')"><input id="16-16" value = "{{ item._16_16}}" type = "hidden"/><span id = "16-16-span">{{ item._16_16 }}</span></button></li>


									<li class="spacer">&nbsp;</li>
								</ul>

								<ul class="round round-2">


									<li class="spacer">&nbsp;</li>

									<li class="game game-top winner"> <button ondblclick="set2('4-1', '8-1')"><input id="8-1" value = "{{ item._8_1}}" type = "hidden"/><span id = "8-1-span">{{ item._8_1 }}</span></button>  </li>
									<li class="game game-spacer">&nbsp;</li>
									<li class="game game-bottom "><button ondblclick="set2('4-1', '8-2')"><input id="8-2" value = "{{ item._8_2}}" type = "hidden"/><span id = "8-2-span">{{ item._8_2 }}</span></button></li>

									<li class="spacer">&nbsp;</li>

									<li class="game game-top winner"><button ondblclick="set2('4-2', '8-3')"><input id="8-3" value = "{{ item._8_3}}" type = "hidden"/><span id = "8-3-span">{{ item._8_3 }}</span></button></li>
									<li class="game game-spacer">&nbsp;</li>
									<li class="game game-bottom "><button ondblclick="set2('4-2', '8-4')"><input id="8-4" value = "{{ item._8_4}}" type = "hidden"/><span id = "8-4-span">{{ item._8_4 }}</span></button></li>

									<li class="spacer">&nbsp;</li>

									<li class="game game-top "><button ondblclick="set2('4-3', '8-5')"><input id="8-5" value = "{{ item._8_5}}" type = "hidden"/><span id = "8-5-span">{{ item._8_5 }}</span></button> </li>
									<li class="game game-spacer">&nbsp;</li>
									<li class="game game-bottom winner"><button ondblclick="set2('4-3', '8-6')"><input id="8-6" value = "{{ item._8_6}}" type = "hidden"/><span id = "8-6-span">{{ item._8_6 }}</span></button> </li>

									<li class="spacer">&nbsp;</li>

									<li class="game game-top "><button ondblclick="set2('4-4', '8-7')"><input id="8-7" value = "{{ item._8_7}}" type = "hidden"/><span id = "8-7-span">{{ item._8_7 }}</span></button> </li>
									<li class="game game-spacer">&nbsp;</li>
									<li class="game game-bottom winner"><button ondblclick="set2('4-4', '8-8')"><input id="8-8" value = "{{ item._8_8}}" type = "hidden"/><span id = "8-8-span">{{ item._8_8 }}</span></button></li>

									<li class="spacer">&nbsp;</li>
								</ul>

								<ul class="round round-3">
									<li class="spacer">&nbsp;</li>

									<li class="game game-top winner"><button ondblclick="set2('2-1', '4-1')"><input id="4-1" value = "{{ item._4_1}}" type = "hidden"/><span id = "4-1-span">{{ item._4_1 }}</span></button></li>
									<li class="game game-spacer">&nbsp;</li>
									<li class="game game-bottom "><button ondblclick="set2('2-1', '4-2')"><input id="4-2" value = "{{ item._4_2}}" type = "hidden"/><span id = "4-2-span">{{ item._4_2 }}</span></button></li>

									<li class="spacer">&nbsp;</li>

									<li class="game game-top "><button ondblclick="set2('2-2', '4-3')"><input id="4-3" value = "{{ item._4_3}}" type = "hidden"/><span id = "4-3-span">{{ item._4_3 }}</span></button></li>
									<li class="game game-spacer">&nbsp;</li>
									<li class="game game-bottom winner"><button ondblclick="set2('2-2', '4-4')"><input id="4-4" value = "{{ item._4_4}}" type = "hidden"/><span id = "4-4-span">{{ item._4_4 }}</span></button></li>

									<li class="spacer">&nbsp;</li>
								</ul>

								<ul class="round round-4">
									<li class="spacer">&nbsp;</li>

									<li class="game game-top winner"><button ondblclick="winner('2-1')"><input id="2-1" value = "{{ item._2_1 }}" type = "hidden"/><span id = "2-1-span">{{ item._2_1 }}</span></button></li>
									<li class="game game-spacer">&nbsp;</li>
									<li class="game game-bottom "><button ondblclick="winner('2-2')"><input id="2-2" value = "{{ item._2_2}}" type = "hidden"/><span id = "2-2-span">{{ item._2_2 }}</span></button></li>

									<li class="spacer">&nbsp;</li>
								</ul>

							</main>
						<!-- <div class="box">
<button onclick="prepareSave()">Finish edit</button>
						</div> -->

      {% else %}
			<div class="box">
				<p> Une erreur inconnue s'est produite </p>
			</div>
			{% endif %}
			<div class="box">
				<hr />
				<div>
			{% endfor %}
			{% endif %}
			<!-- endif count ! = 0 -->
					<script type="text/javascript">






					function set2(argument, id) {
						// body...
						var target = document.getElementById(argument);
						var x = document.getElementById(id).value;
						var spantarget = document.getElementById(argument + "-span");
						target.value = x;
						spantarget.innerHTML = x;
					}

					function parser1(argument) {
						// body...
						return "_16_"+argument;

					}

					function parser2(argument) {
						// body...
						return 'form__16_'+argument;
					}

					function prepareSave() {
						// body...
						var i
						for(i=1; i < 17 ;i++){

							var x = document.getElementById('16-'+i).value;
							var targetfromtree = document.getElementById('form__16_'+i);
							targetfromtree.value = x;
						}
						for(i=1; i < 9 ;i++){
							var x = document.getElementById('8-'+i).value;
							var targetfromtree = document.getElementById('form__8_'+i);
							targetfromtree.value = x;
						}
						for(i=1; i < 5 ;i++){
							var x = document.getElementById('4-'+i).value;
							var targetfromtree = document.getElementById('form__4_'+i);
							targetfromtree.value = x;
						}
						for(i=1; i < 3 ;i++){
							var x = document.getElementById('2-'+i).value;
							var targetfromtree = document.getElementById('form__2_'+i);
							targetfromtree.value = x;
						}
						// var x = document.getElementById('win').value;
						// var targetfromtree = document.getElementById('form_win');
						// targetfromtree.value = x;

					}



					function winner(id) {
						// body...
						var x = document.getElementById(id).value;
						var target = document.getElementById("win");
						var targetfromtree = document.getElementById('form_win');
						targetfromtree.value = x;
						target.innerHTML = "le Gagnant est : "+x;
					}



					</script>


				{% endif %}
				<!-- endif issubmit -->
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://www.facebook.com/Asmae-161275587240084/?fref=ts" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Tous droits réservés.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets2/js/jquery.min.js"></script>
			<script src="assets2/js/jquery.dropotron.min.js"></script>
			<script src="assets2/js/jquery.scrollgress.min.js"></script>
			<script src="assets2/js/skel.min.js"></script>
			<script src="assets2/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets2/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets2/js/main.js"></script>

	</body>
</html>
