<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Knockoff</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets2/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets2/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets2/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1>Knockoff</h1>
					<nav id="nav">
						<ul>
							<li><a href="/test">Accueil</a></li>
							<li><a href="/niews">News</a></li>
							<li><a href="/faq">FAQ</a></li>
							<li><a href="#" class="icon fa-angle-down">Lien vers page administrateur</a>
							<ul>
								<li><a href="/faqadmin">FAQ pour les admins</a></li>
								<li><a href="/admingestion">Tous les courts</a></li>
								<li><a href="/adminpairgestion">Gestion des paires</a></li>
								<li><a href="/admingroupsgestion/-1">Tous les groupes</a></li>
								<li><a href="/adminresults">Tous les Résultats</a></li>
								<li><a href="/courtadmin">Vos courts</a></li>
								<li><a href="/test-match-result">Entrer les résultats </a></li>
								<li><a href="/groupgeneration">Génération des groupes</a></li>
								<li><a href="/niewsfeed">Création de news</a></li>
								<li><a href="/niewsgestion">Gestion des news</a></li>
								<li><a href="/courthistory">Historique des courts</a></li>
								<li><a href="/knockoff">Knockoff</a></li>
								<li><a href="/edittournament">Créer un tournoi</a></li>
								{% if superuser %}
								<li><a href="/knockoffsuperuser">Générer le knockoff</a></li>
								<li><a href="/knockoffgestion">Gestion du knockoff</a></li>
								{% endif %}
								<li><a href="/export-db">Exporter en CSV</a></li>
							</ul>
							</li>
							<li><a href="/disconnect" class="button">Déconnexion</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<section id="main" class="container 75%">
					<header>
						<h2>Générer le knockoff</h2>
					</header>

					<!-- <p>Vous pouvez cliquer <a href="/generateknockoff">ici</a> pour généger le knockoff. </p> -->
					<div class="box">
						<p>Choisissez le nombre de joueurs par groupes (sachant qu'il y a {{ nbrofgroup}} groupes) que vous souhaitez reprendre pour le knockoff.
							 Si le nombre de groupe ne permet pas de faire un arbre de knockoff parfait (à savoir un arbre de 16ème, 8ème, quart ou demi)
							 pas de panique ! Vous pouvez éditer (cliquez sur la paire que vous voulez éditer) l'arbre selon votre souhait. Afin de propager le gagant d'un match au niveau suivant,
						 vous pouvez double-cliquer sur la paire en question. </p>

						 {% if not issubmit %}
 						{{ form_start(formknockoff) }}
 					 <form method="post" action="#">
 						 <div class="row uniform 50%">
 							 <div class="6u 12u(mobilep)">
 								 {{ form_row(formknockoff.top) }}
 								 <!-- <input type="text" name="pair1" id="pair1" value="" placeholder="Pair 1" /> -->
 							 </div>
 							 <div class="6u 12u(mobilep)">
 								 {{ form_row(formknockoff.indoor) }}
 								 <!-- <input type="text" name="pair1" id="pair1" value="" placeholder="Pair 1" /> -->
 							 </div>
 						 </div>


 						 <div class="row uniform">
 							 <div class="12u">
 								 <ul class="actions align-center">
 									 <li><input type="submit" value="Envoyer" /></li>
 								 </ul>
 							 </div>
 						 </div>
 					 </form>
 					 {{ form_end(formknockoff) }}

 					 {% endif %}

 				 </div>

 				 <div class="box">
 					 {% if  issubmit %}
 						 {% if availablecourts is empty  %}
 							 <p> Aucun court n'est disponible .</p>
 						 {% else %}
 						 <p> Voici la liste des courts (court id , addresse) disponibles.  </p>
 						 <ul >
 							 {% for val in availablecourts  %}

 								 <li>( {{ val.idcourts }} , {{ val.court_address}} )</li>

 							 {% endfor %}
 							 </ul>
 						 {% endif %}
 					 {% endif %}
 				 </div>

 				 <div class="box">
 					 <h3 id="win"> </h3>

 				 </div>


 				 {% if  issubmit %}
 					 {% if idpairs is empty %}
 						 <p> Erreur aucune paire n'a été selectionnée</p>



 					 {% elseif typeoftree == 2 %}
 						 <!-- TODO  -->
 						 <p>La finale  : </p>
 						 {% if top == 1 %}


 						 <main id="tournament">

 							 <ul class="round round-4">
 								 <li class="spacer">&nbsp;</li>

 								 <li class="game game-top winner"><button ondblclick="winner('2-1')"><input id="2-1" value = "{{ idpairs[0].first }}" type = "text"/></button></li>
 								 <li class="game game-spacer">&nbsp;</li>
 								 <li class="game game-bottom "><button ondblclick="winner('2-2')"><input id="2-2" value = "{{ idpairs[1].first}}" type = "text"/></button></li>

 								 <li class="spacer">&nbsp;</li>
 							 </ul>






 						 </main>

 						 {% endif %}


 					 {% elseif typeoftree == 4 %}
 					 <!-- TODO  -->
 					 <p>La demi : </p>
 					 <main id="tournament">
 						 {% if top == 1 %}


 					 <ul class="round round-3">
 						 <li class="spacer">&nbsp;</li>

 						 <li class="game game-top winner"><button ondblclick="set2('2-1', '4-1')"><input id="4-1" value = "{{ idpairs[0].first}}" type = "text"/></button></li>
 						 <li class="game game-spacer">&nbsp;</li>
 						 <li class="game game-bottom "><button ondblclick="set2('2-1', '4-2')"><input id="4-2" value = "{{ idpairs[1].first}}" type = "text"/></button></li>

 						 <li class="spacer">&nbsp;</li>

 						 <li class="game game-top "><button ondblclick="set2('2-2', '4-3')"><input id="4-3" value = "{{ idpairs[2].first}}" type = "text"/></button></li>
 						 <li class="game game-spacer">&nbsp;</li>
 						 <li class="game game-bottom winner"><button ondblclick="set2('2-2', '4-4')"><input id="4-4" value = "{{ idpairs[3].first}}" type = "text"/></button></li>

 						 <li class="spacer">&nbsp;</li>
 					 </ul>




 						 {% elseif top == 2 %}


 					 <ul class="round round-3">
 						 <li class="spacer">&nbsp;</li>

 						 <li class="game game-top winner"><button ondblclick="set2('2-1', '4-1')"><input id="4-1" value = "{{ idpairs[0].first}}" type = "text"/></button></li>
 						 <li class="game game-spacer">&nbsp;</li>
 						 <li class="game game-bottom "><button ondblclick="set2('2-1', '4-2')"><input id="4-2" value = "{{ idpairs[1].second}}" type = "text"/></button></li>

 						 <li class="spacer">&nbsp;</li>

 						 <li class="game game-top "><button ondblclick="set2('2-2', '4-3')"><input id="4-3" value = "{{ idpairs[1].first}}" type = "text"/></button></li>
 						 <li class="game game-spacer">&nbsp;</li>
 						 <li class="game game-bottom winner"><button ondblclick="set2('2-2', '4-4')"><input id="4-4" value = "{{ idpairs[0].second}}" type = "text"/></button></li>

 						 <li class="spacer">&nbsp;</li>
 					 </ul>





 						 {% endif %}

 						 <ul class="round round-4">
 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top winner"><button ondblclick="winner('2-1')"><input id="2-1" value = "" type = "hidden"/><span id = "2-1-span" /></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom "><button ondblclick="winner('2-2')"><input id="2-2" value = "" type = "hidden"/><span id = "2-2-span" /></button></li>

 							 <li class="spacer">&nbsp;</li>
 						 </ul>


 					 </main>

 					 {% elseif typeoftree == 8 %}
 						 <!-- TODO  -->
 						 <p>Les quarts : </p>


 						 <main id="tournament">
 							 {% if top == 1 %}
 						 <ul class="round round-2">


 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top winner"> <button ondblclick="set2('4-1', '8-1')"><input id="8-1" value = "{{ idpairs[0].first}}" type = "text"/></button>  </li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom "><button ondblclick="set2('4-1', '8-2')"><input id="8-2" value = "{{ idpairs[1].first}}" type = "text"/></button></li>

 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top winner"><button ondblclick="set2('4-2', '8-3')"><input id="8-3" value = "{{ idpairs[2].first}}" type = "text"/></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom "><button ondblclick="set2('4-2', '8-4')"><input id="8-4" value = "{{ idpairs[3].first}}" type = "text"/></button></li>

 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top "><button ondblclick="set2('4-3', '8-5')"><input id="8-5" value = "{{ idpairs[4].first}}" type = "text"/></button> </li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom winner"><button ondblclick="set2('4-3', '8-6')"><input id="8-6" value = "{{ idpairs[5].first}}" type = "text"/></button> </li>

 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top "><button ondblclick="set2('4-4', '8-7')"><input id="8-7" value = "{{ idpairs[6].first }}" type = "text"/></button> </li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom winner"><button ondblclick="set2('4-4', '8-8')"><input id="8-8" value = "{{ idpairs[7].first}}" type = "text"/></button></li>

 							 <li class="spacer">&nbsp;</li>




 						 </ul>
 						 {% elseif top == 2 %}
 						 <ul class="round round-2">
 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top winner"> <button ondblclick="set2('4-1', '8-1')"><input id="8-1" value = "{{ idpairs[0].first}}" type = "text"/></button>  </li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom "><button ondblclick="set2('4-1', '8-2')"><input id="8-2" value = "{{ idpairs[3].second}}" type = "text"/></button></li>

 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top winner"><button ondblclick="set2('4-2', '8-3')"><input id="8-3" value = "{{ idpairs[1].first}}" type = "text"/></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom "><button ondblclick="set2('4-2', '8-4')"><input id="8-4" value = "{{ idpairs[2].second}}" type = "text"/></button></li>

 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top "><button ondblclick="set2('4-3', '8-5')"><input id="8-5" value = "{{ idpairs[2].first}}" type = "text"/></button> </li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom winner"><button ondblclick="set2('4-3', '8-6')"><input id="8-6" value = "{{ idpairs[1].second}}" type = "text"/></button> </li>

 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top "><button ondblclick="set2('4-4', '8-7')"><input id="8-7" value = "{{ idpairs[3].first }}" type = "text"/></button> </li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom winner"><button ondblclick="set2('4-4', '8-8')"><input id="8-8" value = "{{ idpairs[0].second}}" type = "text"/></button></li>

 							 <li class="spacer">&nbsp;</li>






 						 </ul>

 						 {% endif %}


 						 <ul class="round round-3">
 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top winner"><button ondblclick="set2('2-1', '4-1')"><input id="4-1" value = "" type = "hidden"/><span id = "4-1-span" /></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom "><button ondblclick="set2('2-1', '4-2')"><input id="4-2" value = "" type = "hidden"/><span id = "4-2-span" /></button></li>

 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top "><button ondblclick="set2('2-2', '4-3')"><input id="4-3" value = "" type = "hidden"/><span id = "4-3-span" /></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom winner"><button ondblclick="set2('2-2', '4-4')"><input id="4-4" value = "" type = "hidden"/><span id = "4-4-span" /></button></li>

 							 <li class="spacer">&nbsp;</li>
 						 </ul>

 						 <ul class="round round-4">
 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top winner"><button ondblclick="winner('2-1')"><input id="2-1" value = "" type = "hidden"/><span id = "2-1-span" /></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom "><button ondblclick="winner('2-2')"><input id="2-2" value = "" type = "hidden"/><span id = "2-2-span" /></button></li>

 							 <li class="spacer">&nbsp;</li>
 						 </ul>


 					 </main>
 					 {% elseif typeoftree == 16 %}
 						 <!-- TODO  -->
 						 <p>Les huitièmes : </p>
 					 <main id="tournament">
 						 {% if top == 1 %}

 						 <ul class="round round-1">

 								 <li class="spacer">&nbsp;</li>
 								 <li class="game game-top winner"><button ondblclick="set2('8-1', '1')"><input id="1" value = "{{ idpairs[0].first}}" type = "text"/></button></li>
 								 <li class="game game-spacer">&nbsp;</li>
 								 <li class="game game-bottom "><button ondblclick="set2('8-1', '2')"><input id="2" value = "{{ idpairs[15].first}}" type = "text"/></button></li>

 								 <li class="spacer">&nbsp;</li>

 								 <li class="game game-top winner"><button ondblclick="set2('8-2', '3')"><input id="3" value = "{{ idpairs[1].first}}" type = "text"/></button></li>
 								 <li class="game game-spacer">&nbsp;</li>
 								 <li class="game game-bottom "><button ondblclick="set2('8-2', '4')"><input id="4" value = "{{ idpairs[14].first }}" type = "text"/></button></li>

 								 <li class="spacer">&nbsp;</li>

 								 <li class="game game-top "><button ondblclick="set2('8-3', '5')"><input id="5" value = "{{ idpairs[2].first}}" type = "text"/></button></li>
 								 <li class="game game-spacer">&nbsp;</li>
 								 <li class="game game-bottom winner"><button ondblclick="set2('8-3', '6')"><input id="6" value = "{{ idpairs[13].first}}" type = "text"/></button></li>

 								 <li class="spacer">&nbsp;</li>

 								 <li class="game game-top winner"><button ondblclick="set2('8-4', '7')"><input id="7" value = "{{ idpairs[3].first}}" type = "text"/></button></li>
 								 <li class="game game-spacer">&nbsp;</li>
 								 <li class="game game-bottom "><button ondblclick="set2('8-4', '8')"><input id="8" value = "{{ idpairs[12].first}}" type = "text"/></button></li>

 								 <li class="spacer">&nbsp;</li>

 								 <li class="game game-top winner"><button ondblclick="set2('8-5', '9')"><input id="9" value = "{{ idpairs[4].first}}" type = "text"/></button></li>
 								 <li class="game game-spacer">&nbsp;</li>
 								 <li class="game game-bottom "><button ondblclick="set2('8-5', '10')"><input id="10" value = "{{ idpairs[11].first}}" type = "text"/></button></li>

 								 <li class="spacer">&nbsp;</li>

 								 <li class="game game-top winner"><button ondblclick="set2('8-6', '11')"><input id="11" value = "{{ idpairs[5].first}}" type = "text"/></button></li>
 								 <li class="game game-spacer">&nbsp;</li>
 								 <li class="game game-bottom "><button ondblclick="set2('8-6', '12')"><input id="12" value = "{{ idpairs[10].first}}" type = "text"/></button></li>

 								 <li class="spacer">&nbsp;</li>

 								 <li class="game game-top winner"><button ondblclick="set2('8-7', '13')"><input id="13" value = "{{ idpairs[6].first}}" type = "text"/></button></li>
 								 <li class="game game-spacer">&nbsp;</li>
 								 <li class="game game-bottom "><button ondblclick="set2('8-7', '14')"><input id="14" value = "{{ idpairs[9].first}}" type = "text"/></button></li>

 								 <li class="spacer">&nbsp;</li>

 								 <li class="game game-top winner"><button ondblclick="set2('8-8', '15')"><input id="15" value = "{{ idpairs[7].first}}" type = "text"/></button></li>
 								 <li class="game game-spacer">&nbsp;</li>
 								 <li class="game game-bottom "><button ondblclick="set2('8-8', '16')"><input id="16" value = "{{ idpairs[8].first}}" type = "text"/></button></li>


 								 <li class="spacer">&nbsp;</li>





 							 </ul>

 							 {% elseif top == 2 %}
 					 <ul class="round round-1">
 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top winner"><button ondblclick="set2('8-1', '1')"><input id="1" value = "{{ idpairs[0].first}}" type = "text"/></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom "><button ondblclick="set2('8-1', '2')"><input id="2" value = "{{ idpairs[7].second}}" type = "text"/></button></li>

 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top winner"><button ondblclick="set2('8-2', '3')"><input id="3" value = "{{ idpairs[1].first}}" type = "text"/></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom "><button ondblclick="set2('8-2', '4')"><input id="4" value = "{{ idpairs[6].second }}" type = "text"/></button></li>

 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top "><button ondblclick="set2('8-3', '5')"><input id="5" value = "{{ idpairs[2].first}}" type = "text"/></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom winner"><button ondblclick="set2('8-3', '6')"><input id="6" value = "{{ idpairs[5].second}}" type = "text"/></button></li>

 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top winner"><button ondblclick="set2('8-4', '7')"><input id="7" value = "{{ idpairs[3].first}}" type = "text"/></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom "><button ondblclick="set2('8-4', '8')"><input id="8" value = "{{ idpairs[4].second}}" type = "text"/></button></li>

 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top winner"><button ondblclick="set2('8-5', '9')"><input id="9" value = "{{ idpairs[4].first}}" type = "text"/></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom "><button ondblclick="set2('8-5', '10')"><input id="10" value = "{{ idpairs[3].second}}" type = "text"/></button></li>

 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top winner"><button ondblclick="set2('8-6', '11')"><input id="11" value = "{{ idpairs[5].first}}" type = "text"/></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom "><button ondblclick="set2('8-6', '12')"><input id="12" value = "{{ idpairs[2].second}}" type = "text"/></button></li>

 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top winner"><button ondblclick="set2('8-7', '13')"><input id="13" value = "{{ idpairs[6].first}}" type = "text"/></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom "><button ondblclick="set2('8-7', '14')"><input id="14" value = "{{ idpairs[1].second}}" type = "text"/></button></li>

 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top winner"><button ondblclick="set2('8-8', '15')"><input id="15" value = "{{ idpairs[7].first}}" type = "text"/></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom "><button ondblclick="set2('8-8', '16')"><input id="16" value = "{{ idpairs[0].second}}" type = "text"/></button></li>


 							 <li class="spacer">&nbsp;</li>





 						 </ul>
 							 {% endif %}


 						 <ul class="round round-2">
 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top winner"> <button ondblclick="set2('4-1', '8-1')"><input id="8-1" value = "" type = "hidden"/><span id = "8-1-span" /></button>  </li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom "><button ondblclick="set2('4-1', '8-2')"><input id="8-2" value = "" type = "hidden"/><span id = "8-2-span" /></button></li>

 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top winner"><button ondblclick="set2('4-2', '8-3')"><input id="8-3" value = "" type = "hidden"/><span id = "8-3-span" /></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom "><button ondblclick="set2('4-2', '8-4')"><input id="8-4" value = "" type = "hidden"/><span id = "8-4-span" /></button></li>

 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top "><button ondblclick="set2('4-3', '8-5')"><input id="8-5" value = "" type = "hidden"/><span id = "8-5-span" /></button> </li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom winner"><button ondblclick="set2('4-3', '8-6')"><input id="8-6" value = "" type = "hidden"/><span id = "8-6-span" /></button> </li>

 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top "><button ondblclick="set2('4-4', '8-7')"><input id="8-7" value = "" type = "hidden"/><span id = "8-7-span" /></button> </li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom winner"><button ondblclick="set2('4-4', '8-8')"><input id="8-8" value = "" type = "hidden"/><span id = "8-8-span" /></button></li>

 							 <li class="spacer">&nbsp;</li>
 						 </ul>
 						 <ul class="round round-3">
 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top winner"><button ondblclick="set2('2-1', '4-1')"><input id="4-1" value = "" type = "hidden"/><span id = "4-1-span" /></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom "><button ondblclick="set2('2-1', '4-2')"><input id="4-2" value = "" type = "hidden"/><span id = "4-2-span" /></button></li>

 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top "><button ondblclick="set2('2-2', '4-3')"><input id="4-3" value = "" type = "hidden"/><span id = "4-3-span" /></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom winner"><button ondblclick="set2('2-2', '4-4')"><input id="4-4" value = "" type = "hidden"/><span id = "4-4-span" /></button></li>

 							 <li class="spacer">&nbsp;</li>
 						 </ul>
 						 <ul class="round round-4">
 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top winner"><button ondblclick="winner('2-1')"><input id="2-1" value = "" type = "hidden"/><span id = "2-1-span" /></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom "><button ondblclick="winner('2-2')"><input id="2-2" value = "" type = "hidden"/><span id = "2-2-span" /></button></li>

 							 <li class="spacer">&nbsp;</li>
 						 </ul>


 						 </main>

 					 {% else %}
 					 <!-- if not perfecttree  -->
 					 <div class="box">

 					 {% if top == 1 %}
 						 <p>Voici la liste des paires reprises pour le knockoff. Il vous est libre de éditer l'arbre selon vos souhaits.</p>
 						 <ul >
 						 {%  for item in idpairs %}
 							 <li> {{ item.first}}</li>
 						 {% endfor %}
 						 </ul>
 					 {% elseif top == 2 %}
 						 <uL>
 						 {%  for item in idpairs %}
 							 <li> {{ item.first}}</li>
 							 <li> {{ item.second}}</li>
 						 {% endfor %}
 						 </ul>
 					 {% else %}
 						 <p>Une erreur s'est produite durant le chargement de cette page...</p>
 					 {% endif %}



 					 </div>



 					 <main id="tournament">



 					 <ul class="round round-1">
 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top winner"><button ondblclick="set2('8-1', '1')"><input id="1" value = "" type = "text"/><span id = " -span" /></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom "><button ondblclick="set2('8-1', '2')"><input id="2" value = "" type = "text"/><span id = " -span" /></button></li>

 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top winner"><button ondblclick="set2('8-2', '3')"><input id="3" value = "" type = "text"/><span id = " -span" /></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom "><button ondblclick="set2('8-2', '4')"><input id="4" value = "" type = "text"/><span id = " -span" /></button></li>

 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top "><button ondblclick="set2('8-3', '5')"><input id="5" value = "" type = "text"/><span id = " -span" /></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom winner"><button ondblclick="set2('8-3', '6')"><input id="6" value = "" type = "text"/><span id = " -span" /></button></li>

 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top winner"><button ondblclick="set2('8-4', '7')"><input id="7" value = "" type = "text"/><span id = " -span" /></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom "><button ondblclick="set2('8-4', '8')"><input id="8" value = "" type = "text"/><span id = " -span" /></button></li>

 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top winner"><button ondblclick="set2('8-5', '9')"><input id="9" value = "" type = "text"/><span id = " -span" /></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom "><button ondblclick="set2('8-5', '10')"><input id="10" value = "" type = "text"/><span id = " -span" /></button></li>

 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top winner"><button ondblclick="set2('8-6', '11')"><input id="11" value = "" type = "text"/><span id = " -span" /></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom "><button ondblclick="set2('8-6', '12')"><input id="12" value = "" type = "text"/><span id = " -span" /></button></li>

 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top winner"><button ondblclick="set2('8-7', '13')"><input id="13" value = "" type = "text"/><span id = " -span" /></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom "><button ondblclick="set2('8-7', '14')"><input id="14" value = "" type = "text"/><span id = " -span" /></button></li>

 							 <li class="spacer">&nbsp;</li>

 							 <li class="game game-top winner"><button ondblclick="set2('8-8', '15')"><input id="15" value = "" type = "text"/><span id = " -span" /></button></li>
 							 <li class="game game-spacer">&nbsp;</li>
 							 <li class="game game-bottom "><button ondblclick="set2('8-8', '16')"><input id="16" value = "" type = "text"/><span id = " -span" /></button></li>


 							 <li class="spacer">&nbsp;</li>


 						 </ul>



 							 <ul class="round round-2">
 								 <li class="spacer">&nbsp;</li>

 								 <li class="game game-top winner"> <button ondblclick="set2('4-1', '8-1')"><input id="8-1" value = "" type = "hidden"/><span id = "8-1-span" /></button>  </li>
 								 <li class="game game-spacer">&nbsp;</li>-
 								 <li class="game game-bottom "><button ondblclick="set2('4-1', '8-2')"><input id="8-2" value = "" type = "hidden"/><span id = "8-2-span" /></button></li>

 								 <li class="spacer">&nbsp;</li>

 								 <li class="game game-top winner"><button ondblclick="set2('4-2', '8-3')"><input id="8-3" value = "" type = "hidden"/><span id = "8-3-span" /></button></li>
 								 <li class="game game-spacer">&nbsp;</li>
 								 <li class="game game-bottom "><button ondblclick="set2('4-2', '8-4')"><input id="8-4" value = "" type = "hidden"/><span id = "8-4-span" /></button></li>

 								 <li class="spacer">&nbsp;</li>

 								 <li class="game game-top "><button ondblclick="set2('4-3', '8-5')"><input id="8-5" value = "" type = "hidden"/><span id = "8-5-span" /></button> </li>
 								 <li class="game game-spacer">&nbsp;</li>
 								 <li class="game game-bottom winner"><button ondblclick="set2('4-3', '8-6')"><input id="8-6" value = "" type = "hidden"/><span id = "8-6-span" /></button> </li>

 								 <li class="spacer">&nbsp;</li>

 								 <li class="game game-top "><button ondblclick="set2('4-4', '8-7')"><input id="8-7" value = "" type = "hidden"/><span id = "8-7-span" /></button> </li>
 								 <li class="game game-spacer">&nbsp;</li>
 								 <li class="game game-bottom winner"><button ondblclick="set2('4-4', '8-8')"><input id="8-8" value = "" type = "hidden"/><span id = "8-8-span" /></button></li>

 								 <li class="spacer">&nbsp;</li>
 							 </ul>
 							 <ul class="round round-3">
 								 <li class="spacer">&nbsp;</li>

 								 <li class="game game-top winner"><button ondblclick="set2('2-1', '4-1')"><input id="4-1" value = "" type = "hidden"/><span id = "4-1-span" /></button></li>
 								 <li class="game game-spacer">&nbsp;</li>
 								 <li class="game game-bottom "><button ondblclick="set2('2-1', '4-2')"><input id="4-2" value = "" type = "hidden"/><span id = "4-2-span" /></button></li>

 								 <li class="spacer">&nbsp;</li>

 								 <li class="game game-top "><button ondblclick="set2('2-2', '4-3')"><input id="4-3" value = "" type = "hidden"/><span id = "4-3-span" /></button></li>
 								 <li class="game game-spacer">&nbsp;</li>
 								 <li class="game game-bottom winner"><button ondblclick="set2('2-2', '4-4')"><input id="4-4" value = "" type = "hidden"/><span id = "4-4-span" /></button></li>

 								 <li class="spacer">&nbsp;</li>
 							 </ul>

 							 <ul class="round round-4">
 								 <li class="spacer">&nbsp;</li>

 								 <li class="game game-top winner"><button ondblclick="winner('2-1')"><input id="2-1" value = "" type = "hidden"/><span id = "2-1-span" /></button></li>
 								 <li class="game game-spacer">&nbsp;</li>
 								 <li class="game game-bottom "><button ondblclick="winner('2-2')"><input id="2-2" value = "" type = "hidden"/><span id = "2-2-span" /></button></li>

 								 <li class="spacer">&nbsp;</li>
 							 </ul>


 					 </main>

 					 {% endif %}



 			 {% else %}


 			 {% endif %}



					<script type="text/javascript">


					function set(arg, dest) {
						// body...
						var taget = document.getElementById(dest);
						taget.innerHTML = arg;
					}



					function set2(argument, id) {
						// body...
						var target = document.getElementById(argument);
						var x = document.getElementById(id).value;
						var spantarget = document.getElementById(argument + "-span");
						//console.log(argument+"-span");
						//target.innerHTML = x;
						target.value = x;
						spantarget.innerHTML = x;
					}

					// function set2(argument, id) {
					// 	// fonction set form for saving
					// 	var target = document.getElementById(argument);
					// 	var x = document.getElementById(id).value;
					// 	var spantarget = document.getElementById(argument + "-span");
					// 	var formtarget = document.getElementById(argument + "-form");
					// 	formtarget.value = x;
					// 	//console.log(formtarget.value);
					// 	//target.innerHTML = x;
					// 	target.value = x;
					// 	spantarget.innerHTML = x;
					// }


					function winner(id) {
						// body...
						var x = document.getElementById(id).value;
						var target = document.getElementById("win");
						target.innerHTML = "le Gagnant est : "+x;
					}



					</script>


				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://www.facebook.com/Asmae-161275587240084/?fref=ts" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Tous droits réservés.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets2/js/jquery.min.js"></script>
			<script src="assets2/js/jquery.dropotron.min.js"></script>
			<script src="assets2/js/jquery.scrollgress.min.js"></script>
			<script src="assets2/js/skel.min.js"></script>
			<script src="assets2/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets2/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets2/js/main.js"></script>

	</body>
</html>
